@font-face {
    font-family: Mono;
    src: url('../../src/fonts/monof55.ttf');
}

@font-face {
    font-family: Coolvetica;
    src: url('../../src/fonts/LEMONMILK-Regular.otf');
}

.bgGreen {
    background-color: #086c3c;
}

.fontReciba {
    font-family: Mono;
    font-size: 1.5em;
    letter-spacing: 4px;
}

.fontTextReciba {
    font-family: Mono;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.optionSidebar {
    font-family: Coolvetica;
    text-decoration: none;
    outline: none;
    transition: 0.5s;
    color: black;
}

.optionSidebar:hover {
    color: purple;
}

.optionSidebar:active {
    color: black;
    transition: 0s;
}

.optionUser {
    display: inline-block;
    vertical-align: bottom;
}